<div role="tabpanel" class="tab-pane fade" id="{{runId}}-tab"
     aria-labelledby="{{runId}}-tab">
	<ul id="scenario-tab" class="nav nav-tabs" role="presentation">
		<li class="hidden-xs">
			<button type="button" class="btn btn-danger stop" value="{{runIdText}}">
				Stop
			</button>
			<button type="button" class="btn btn-danger kill" value="{{runIdText}}">
				Close
			</button>
		</li>
		<li class="active">
			<a href="#{{runId}}-logs" data-toggle="tab">
				Logs
			</a>
		</li>
		<li>
			<a href="#{{runId}}-charts" data-toggle="tab">
				Charts
			</a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="{{runId}}-logs">
			<ul id="log-pills" class="nav nav-pills">
				<li class="hidden-sm hidden-md hidden-lg stop-block-xs">
					<button type="button" class="btn btn-danger stop" value="{{runIdText}}">
						Stop
					</button>
					<button type="button" class="btn btn-danger kill" value="{{runIdText}}">
						Close
					</button>
				</li>
				{{#each tables}}
					{{#if active}}
						<li class="active">
							<a href="#{{id}}" data-toggle="pill">
								{{text}}
							</a>
						</li>
					{{else}}
						<li>
							<a href="#{{id}}" data-toggle="pill">
								{{text}}
							</a>
						</li>
					{{/if}}
				{{/each}}
			</ul>

			<div id="log-wrapper" class="tab-content">
				{{#each tables}}
					{{#if active}}
						<div class="tab-pane active" id="{{id}}">
							<div class="table-content">
								<div class="table-responsive">
									<table class="table table-condenced">
										<thead>
											<tr>
												<th>Level</th>
												<th>LoggerName</th>
												<th>ThreadName</th>
												<th>TimeMillis</th>
												<th>Message</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					{{else}}
						<div class="tab-pane" id="{{id}}">
							<div class="table-content">
								<div class="table-responsive">
									<table class="table table-condenced">
										<thead>
										<tr>
											<th>Level</th>
											<th>LoggerName</th>
											<th>ThreadName</th>
											<th>TimeMillis</th>
											<th>Message</th>
										</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>

		<div class="tab-pane" id="{{runId}}-charts">
			<ul id="chart-pills" class="nav nav-pills">
				<li class="hidden-sm hidden-md hidden-lg stop-block-xs">
					<button type="button" class="btn btn-danger stop" value="{{runIdText}}">
						Stop
					</button>
					<button type="button" class="btn btn-danger kill" value="{{runIdText}}">
						Close
					</button>
				</li>
				{{#each charts}}
					{{#if active}}
						<li class="active">
							<a href="#{{id}}" data-toggle="pill">
								{{text}}
							</a>
						</li>
					{{else}}
						<li>
							<a href="#{{id}}" data-toggle="pill">
								{{text}}
							</a>
						</li>
					{{/if}}
				{{/each}}
			</ul>
			<div class="tab-content">
				{{#each charts}}
					{{#if active}}
						<div class="tab-pane active" id="{{id}}">

						</div>
					{{else}}
						<div class="tab-pane" id="{{id}}">

						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
</div>