<div class="tab-dependent buttons" id="buttons-{{tab-type}}">
    <div class="form-group btn-file">
        <button type="button" class="btn btn-custom btn-custom-default column-btn-upper"
                id="{{buttons.[0]}}-{{tab-type}}">
            Open
        </button>
        <!--suppress HtmlFormInputWithoutLabel -->
        <input class="form-control" id="{{buttons.[1]}}-{{tab-type}}" type="text"
               value="No {{tab-type}} chosen" disabled>
        <input id="{{buttons.[2]}}-{{tab-type}}" onchange="" type="file" accept=".json"
               class="upload"/>
    </div>
    <!--<button type="button" class="btn btn-custom btn-custom-default"-->
            <!--id="{{buttons.[3]}}-{{tab-type}}">-->
        <!--Save-->
    <!--</button>-->
    <a class="btn btn-custom btn-custom-default"
       id="{{buttons.[4]}}-{{tab-type}}">
        Save As...
    </a>
</div>