<div class="container-fluid">
	<div class="row">

		<!-- Left menu panel -->
		<div id="menu" class="col-xs-12 col-sm-5 col-md-4 col-lg-3 no-padding">
			<div id="run-modes">
				<div>
					<label for="run-mode" class="block">
						Run mode
					</label>
					<select id="run-mode" class="form-control">
						<option value="standalone">standalone</option>
						<option value="client">load client</option>
						<option value="server">load server</option>
						<option value="cinderella">cinderella</option>
					</select>
				</div>
				<div>
					<button type="button" id="start" class="btn btn-success">
						Start
					</button>
				</div>
			</div>

			<div id="config">
				<div>
					<label for="config-type" class="block">
						Config mode
					</label>
					<select id="config-type" class="form-control">
						<option value="base">basic</option>
						<option value="extended">extended</option>
					</select>
				</div>
				<div class="save-buttons">
					<button type="button" class="btn btn-default" id="save-config">
						Save
					</button>
					<br/>
					<a href="#save" class="btn btn-default" id="save-file">
						Save As...
					</a>
				</div>
				<br/>
				<div id="file-visibility">
					<input type="checkbox" id="file-checkbox"/>
					<label for="file-checkbox">
						Read config from file
					</label>
				</div>
				<input type="file" accept=".txt" id="config-file"/>
			</div>
		</div>

		<!-- Base configuration fields -->
		<div id="main-content" class="col-xs-12 col-sm-7 col-md-8 col-lg-9 no-padding">
			<div id="base">
				<form class="form-horizontal" role="form">
					{{#each sections}}
						<fieldset>
							<legend>{{title}}</legend>
							{{#each fields}}
								<div class="form-group">
									<label for="{{id}}" class="col-sm-3 control-label">
										{{label}}
									</label>
									<div class="col-sm-9">

										{{#if complexField}}
											<div id="{{id}}" class="col-xs-5 no-padding">
												<input type="text" id="{{textField.id}}"
												   name="{{textField.id}}"
												   class="form-control" title=""/>
											</div>
											<div class="col-xs-4">
												<select
													class="form-control" id="{{selectField.id}}"
													name="{{textField.id}}" title="">
													{{#each selectField.values}}
														<option value="{{this}}">{{this}}</option>
													{{/each}}
												</select>
											</div>
										{{else}}

											{{#if textField}}
												<input type="text" id="{{id}}" class="form-control"
											   		placeholder="{{placeholder}}" name="{{id}}"/>
											{{/if}}

											{{#if selectField}}
												<div class="col-xs-5 col-sm-4 form-select">
													<select id="{{id}}" name={{id}}
														class="form-control">
														{{#each values}}
															<option value="{{this}}">
																{{this}}
															</option>
														{{/each}}
													</select>
												</div>
											{{/if}}

										{{/if}}

									</div>
								</div>
							{{/each}}
						</fieldset>
					{{/each}}
				</form>
			</div>
		</div>
	</div>
</div>
<!--<div class="container-fluid">
	<div class="row">
		<div id="menu" class="col-xs-12 col-sm-5 col-md-4 col-lg-3 no-padding">


		<div id="main-content" class="col-xs-12 col-sm-7 col-md-8 col-lg-9 no-padding">
			<div id="base">
				<form class="form-horizontal" role="form">
					<fieldset>
						<legend>Run</legend>
						<div class="form-group">
							<label for="backup-run.id" class="col-sm-3 control-label">Run id</label>
							<div class="col-sm-9">
								<input type="text" id="backup-run.id" class="form-control"
								       data-pointer="run.id"/>
							</div>
						</div>
						<div class="standalone client">
							<div class="form-group">
								<label for="backup-scenario.name" class="col-sm-3 control-label">
									Scenario
								</label>
								<div class="col-sm-9">
									<select id="backup-scenario.name" class="form-select" data-pointer="scenario.name">
										<option value="backup-${runTimeConfig.scenarioName}">
											${runTimeConfig.scenarioName}
										</option>
										<option value="backup-single">single</option>
										<option value="backup-chain">chain</option>
										<option value="backup-rampup">rampup</option>
									</select>
									<button type="button" id="scenario-button" class="btn btn-primary"
									        data-toggle="modal"
									        data-target="#backup-${runTimeConfig.scenarioName}">
										Details...
									</button>

									<i id="scenario-load"></i>

									<div class="modal" id="backup-single" tabindex="-1" role="dialog" aria-labelledby="singleLabel"
									     aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">
														<span aria-hidden="true">&times;</span>
														<span class="sr-only">Close</span>
													</button>
													<h4 class="modal-title" id="singleLabel">Single</h4>
												</div>

												<div class="modal-body">
													<div class="form-group">
														<label for="backup-scenario.type.single.load"
														       class="col-sm-6 control-label">Load type</label>
														<div class="col-sm-6">
															<select id="backup-scenario.type.single.load"
															        data-pointer="scenario.type.single.load">
																<option value="backup-${rt:getString(runTimeConfig,
																					'scenario.type.single.load')}">
																	${rt:getString(runTimeConfig, 'scenario.type.single.load')}
																</option>
																<option value="backup-create">create</option>
																<option value="backup-read">read</option>
																<option value="backup-update">update</option>
																<option value="backup-delete">delete</option>
																<option value="backup-append">append</option>
															</select>
														</div>
													</div>

													<hr/>

													<div id="backup-create">
														<fieldset>
															<legend>Create</legend>
															<div class="form-group">
																<label class="col-sm-6 control-label" for="backup-load.type.create.connections">
																	Connection count
																</label>
																<div class="col-sm-6">
																	<input type="text" id="backup-load.type.create.connections"
																	       class="form-control"
																	       data-pointer="load.type.create.connections"
																	       value="${rt:getString(runTimeConfig, 'load.type.create.connections')}"/>
																</div>
															</div>
														</fieldset>
													</div>

													<div id="backup-read">
														<fieldset>
															<legend>Read</legend>
															<div class="form-group">
																<label class="col-sm-6 control-label" for="backup-load.type.read.connections">
																	Connection count
																</label>
																<div class="col-sm-6">
																	<input type="text" id="backup-load.type.read.connections"
																	       class="form-control"
																	       data-pointer="load.type.read.connections"
																	       value="${rt:getString(runTimeConfig, 'load.type.read.connections')}"/>
																</div>
															</div>

															<div class="form-group">
																<label for="backup-load.type.read.verifyContent"
																       class="col-sm-6 control-label">Verify content</label>
																<div class="col-sm-6">
																	<select id="backup-load.type.read.verifyContent" class="form-select"
																	        data-pointer="load.type.read.verifyContent">
																		<option>
																			${rt:getString(runTimeConfig, 'load.type.read.verifyContent')}
																		</option>
																		<option>true</option>
																		<option>false</option>
																	</select>
																</div>
															</div>
														</fieldset>
													</div>

													<div id="backup-update">
														<fieldset>
															<legend>Update</legend>
															<div class="form-group">
																<label class="col-sm-6 control-label" for="backup-load.type.update.connections">
																	Connection count
																</label>
																<div class="col-sm-6">
																	<input type="text" id="backup-load.type.update.connections"
																	       class="form-control"
																	       value="${rt:getString(runTimeConfig, 'load.type.update.connections')}"
																	       data-pointer="load.type.update.connections"/>
																</div>
															</div>

															<div class="form-group">
																<label class="col-sm-6 control-label" for="backup-load.type.update.perItem">
																	Update per item count
																</label>
																<div class="col-sm-6">
																	<input type="text" id="backup-load.type.update.perItem"
																	       class="form-control"
																	       value="${rt:getString(runTimeConfig, 'load.type.update.perItem')}"
																	       data-pointer="load.type.update.perItem"/>
																</div>
															</div>
														</fieldset>
													</div>

													<div id="backup-delete">
														<fieldset>
															<legend>Delete</legend>
															<div class="form-group">
																<label class="col-sm-6 control-label" for="backup-load.type.delete.connections">
																	Connection count
																</label>
																<div class="col-sm-6">
																	<input type="text" id="backup-load.type.delete.connections"
																	       class="form-control"
																	       value="${rt:getString(runTimeConfig, 'load.type.delete.connections')}"
																	       data-pointer="load.type.delete.connections"/>
																</div>
															</div>
														</fieldset>
													</div>

													<div id="backup-append">
														<fieldset>
															<legend>Append</legend>
															<div class="form-group">
																<label class="col-sm-6 control-label" for="backup-load.type.append.connections">
																	Connection count
																</label>
																<div class="col-sm-6">
																	<input type="text" id="backup-load.type.append.connections"
																	       class="form-control"
																	       value="${rt:getString(runTimeConfig, 'load.type.append.connections')}"
																	       data-pointer="load.type.append.connections"/>
																</div>
															</div>
														</fieldset>
													</div>
												</div>

												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
												</div>
											</div>
										</div>
									</div>

									<div class="modal" id="backup-chain" tabindex="-1" role="dialog" aria-labelledby="chainLabel"
									     aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">
														<span aria-hidden="true">&times;</span>
														<span class="sr-only">Close</span>
													</button>
													<h4 class="modal-title" id="chainLabel">Chain</h4>
												</div>

												<div class="modal-body">
													<div class="form-group">
														<label for="backup-scenario.type.chain.load" class="col-sm-6 control-label">
															Load types
														</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="backup-scenario.type.chain.load"
															       value="${rt:getString(runTimeConfig, 'scenario.type.chain.load')}"
															       data-pointer="scenario.type.chain.load"/>
														</div>
													</div>

													<div role="tabpanel">
														<ul class="nav nav-tabs" role="tablist">
															<li role="presentation" class="active">
																<a href="#backuptab-create" aria-controls="backuptab-create"
																   role="tab" data-toggle="tab">
																	Create
																</a>
															</li>
															<li role="presentation">
																<a href="#backuptab-read" aria-controls="backuptab-read"
																   role="tab" data-toggle="tab">
																	Read
																</a>
															</li>
															<li role="presentation">
																<a href="#backuptab-update" aria-controls="backuptab-update"
																   role="tab" data-toggle="tab">
																	Update
																</a>
															</li>
															<li role="presentation">
																<a href="#backuptab-delete" aria-controls="backuptab-delete"
																   role="tab" data-toggle="tab">
																	Delete
																</a>
															</li>
															<li role="presentation">
																<a href="#backuptab-append" aria-controls="backuptab-append"
																   role="tab" data-toggle="tab">
																	Append
																</a>
															</li>
														</ul>

														<div class="tab-content modal-tabs">
															<div role="tabpanel" class="tab-pane active" id="backuptab-create">
																<div class="form-group">
																	<label class="col-sm-6 control-label"
																	       for="backuptab-load.type.create.connections">
																		Connection count
																	</label>
																	<div class="col-sm-6">
																		<input type="text" id="backuptab-load.type.create.connections"
																		       class="form-control"
																		       value="${rt:getString(runTimeConfig, 'load.type.create.connections')}"
																		       data-pointer="load.type.create.connections"/>
																	</div>
																</div>
															</div>
															<div role="tabpanel" class="tab-pane" id="backuptab-read">
																<div class="form-group">
																	<label class="col-sm-6 control-label" for="backuptab-load.type.read.connections">
																		Connection count
																	</label>
																	<div class="col-sm-6">
																		<input type="text" id="backuptab-load.type.read.connections"
																		       class="form-control"
																		       value="${rt:getString(runTimeConfig, 'load.type.read.connections')}"
																		       data-pointer="load.type.read.connections"/>
																	</div>
																</div>

																<div class="form-group">
																	<label for="backuptab-load.type.read.verifyContent"
																	       class="col-sm-6 control-label">
																		Verfiy content
																	</label>
																	<div class="col-sm-6">
																		<select id="backuptab-load.type.read.verifyContent" class="form-select"
																		        data-pointer="load.type.read.verifyContent">
																			<option>
																				${rt:getString(runTimeConfig, 'load.type.read.verifyContent')}
																			</option>
																			<option>true</option>
																			<option>false</option>
																		</select>
																	</div>
																</div>
															</div>
															<div role="tabpanel" class="tab-pane" id="backuptab-update">
																<div class="form-group">
																	<label class="col-sm-6 control-label"
																	       for="backuptab-load.type.update.connections">
																		Connection count
																	</label>
																	<div class="col-sm-6">
																		<input type="text" id="backuptab-load.type.update.connections"
																		       class="form-control"
																		       value="${rt:getString(runTimeConfig, 'load.type.update.connections')}"
																		       data-pointer="load.type.update.connections"/>
																	</div>
																</div>

																<div class="form-group">
																	<label class="col-sm-6 control-label"
																	       for="backuptab-load.type.update.perItem">
																		Update per item count
																	</label>
																	<div class="col-sm-6">
																		<input type="text" id="backuptab-load.type.update.perItem"
																		       class="form-control"
																		       value="${rt:getString(runTimeConfig, 'load.type.update.perItem')}"
																		       data-pointer="load.type.update.perItem"/>
																	</div>
																</div>
															</div>
															<div role="tabpanel" class="tab-pane" id="backuptab-delete">
																<div class="form-group">
																	<label class="col-sm-6 control-label"
																	       for="backuptab-load.type.delete.connections">
																		Connection count
																	</label>
																	<div class="col-sm-6">
																		<input type="text" class="form-control" id="backuptab-load.type.delete.connections"
																		       value="${rt:getString(runTimeConfig, 'load.type.delete.connections')}"
																		       data-pointer="load.type.delete.connections"/>
																	</div>
																</div>
															</div>
															<div role="tabpanel" class="tab-pane" id="backuptab-append">
																<div class="form-group">
																	<label class="col-sm-6 control-label"
																	       for="backuptab-load.type.append.connections">
																		Connection count
																	</label>
																	<div class="col-sm-6">
																		<input type="text" id="backuptab-load.type.append.connections"
																		       class="form-control"
																		       value="${rt:getString(runTimeConfig, 'load.type.append.connections')}"
																		       data-pointer="load.type.append.connections"/>
																	</div>
																</div>
															</div>
														</div>
													</div>

													<hr/>

													<div class="form-group">
														<label for="backup-scenario.type.chain.concurrent"
														       class="col-sm-6 control-label">
															Simultaneous
														</label>
														<div class="col-sm-6">
															<select id="backup-scenario.type.chain.concurrent" class="form-select"
															        data-pointer="scenario.type.chain.concurrent">
																<option>
																	${rt:getString(runTimeConfig, 'scenario.type.chain.concurrent')}
																</option>
																<option>true</option>
																<option>false</option>
															</select>
														</div>
													</div>
												</div>

												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
												</div>
											</div>
										</div>
									</div>

									<div class="modal" id="backup-rampup" tabindex="-1"
									     role="dialog" aria-labelledby="rampupLabel"
									     aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">
														<span aria-hidden="true">&times;</span>
														<span class="sr-only">Close</span>
													</button>
													<h4 class="modal-title" id="rampupLabel">Rampup</h4>
												</div>

												<div class="modal-body">

													<div class="form-group">
														<div class="col-sm-6">
															<button type="button" class="btn btn-default" id="chain-load">
																Chain load details
															</button>
														</div>
													</div>
													<div class="form-group">
														<label for="backup-scenario.type.rampup.connCounts"
														       class="col-sm-4 control-label">
															Connection count
														</label>
														<div class="col-sm-8">
															<input type="text" id="backup-scenario.type.rampup.connCounts"
															       class="form-control"
															       value="${rt:getString(runTimeConfig, 'scenario.type.rampup.connCounts')}"
															       data-pointer="scenario.type.rampup.connCounts"/>
														</div>
													</div>

													<div class="form-group">
														<label for="backup-scenario.type.rampup.sizes" class="col-sm-4 control-label">
															Objects' sizes
														</label>
														<div class="col-sm-8">
															<input type="text" id="backup-scenario.type.rampup.sizes" class="form-control"
															       value="${rt:getString(runTimeConfig, 'scenario.type.rampup.sizes')}"
															       data-pointer="scenario.type.rampup.sizes"/>
														</div>
													</div>
												</div>

												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</fieldset>

					<div class="standalone client">
						<fieldset>
							<legend>Storage</legend>
							<div class="form-group">
								<label for="backup-storage.addrs" class="col-sm-3 control-label">
									Nodes (comma-separated list)
								</label>
								<div class="col-sm-9">
									<input type="text" id="backup-storage.addrs" class="form-control"
									       data-pointer="storage.addrs"
									       value="${rt:getString(runTimeConfig, 'storage.addrs')}"/>
								</div>
							</div>
							<div class="form-group">
								<label for="backup-api.name" class="col-sm-3 control-label">
									API
								</label>
								<div class="col-sm-9">
									<select id="backup-api.name" class="form-select" data-pointer="api.name">
										<option value="backup-${runTimeConfig.apiName}">${runTimeConfig.apiName}</option>
										<option value="backup-swift">swift</option>
										<option value="backup-s3">s3</option>
										<option value="backup-atmos">atmos</option>
									</select>
									<button type="button" id="api-button" class="btn btn-primary"
									        data-toggle="modal" data-target="#backup-${runTimeConfig.apiName}">
										Details...
									</button>

									<div class="modal" id="backup-s3" tabindex="-1" role="dialog"
									     aria-labelledby="s3Label"
									     aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">
														<span aria-hidden="true">&times;</span>
														<span class="sr-only">Close</span>
													</button>
													<h4 class="modal-title" id="s3Label">S3</h4>
												</div>

												<div class="modal-body">
													<div class="form-group">
														<label for="backup-api.type.s3.bucket" class="col-sm-4 control-label">
															Bucket
														</label>
														<div class="col-sm-8">
															<input type="text" id="backup-api.type.s3.bucket" class="form-control"
															       data-pointer="api.type.s3.bucket"
															       value="${rt:getString(runTimeConfig, 'api.type.s3.bucket')}"/>
														</div>
													</div>
												</div>

												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
												</div>
											</div>
										</div>
									</div>

									<div class="modal" id="backup-swift" tabindex="-1" role="dialog"
									     aria-labelledby="swiftLabel"
									     aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">
														<span aria-hidden="true">&times;</span>
														<span class="sr-only">Close</span>
													</button>
													<h4 class="modal-title" id="swiftLabel">Swift</h4>
												</div>

												<div class="modal-body">
													<div class="form-group">
														<label for="backup-api.type.swift.authToken" class="col-sm-4 control-label">
															Authentication token (created automatically if left blank)
														</label>
														<div class="col-sm-8">
															<input type="text" id="backup-api.type.swift.authToken" class="form-control"
															       data-pointer="api.type.swift.authToken"
															       value="${rt:getString(runTimeConfig, 'api.type.swift.authToken')}"/>
														</div>
													</div>
													<div class="form-group">
														<label for="backup-api.type.swift.container" class="col-sm-4 control-label">
															Container (may be created automatically if left blank, required to be specified explicitly for any load except create)
														</label>
														<div class="col-sm-8">
															<input type="text" id="backup-api.type.swift.container" class="form-control"
															       data-pointer="api.type.swift.container"
															       value="${rt:getString(runTimeConfig, 'api.type.swift.container')}"/>
														</div>
													</div>
												</div>

												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
												</div>
											</div>
										</div>
									</div>

									<div class="modal" id="backup-atmos" tabindex="-1" role="dialog"
									     aria-labelledby="atmosLabel"
									     aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">
														<span aria-hidden="true">&times;</span>
														<span class="sr-only">Close</span>
													</button>
													<h4 class="modal-title" id="atmosLabel">Atmos</h4>
												</div>

												<div class="modal-body">
													<div class="form-group">
														<label for="backup-api.type.atmos.subtenant" class="col-sm-4 control-label">
															Subtenant
														</label>
														<div class="col-sm-8">
															<input type="text" id="backup-api.type.atmos.subtenant" class="form-control"
															       data-pointer="api.type.atmos.subtenant"
															       value="${rt:getString(runTimeConfig, 'api.type.atmos.subtenant')}"/>
														</div>
													</div>
												</div>

												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>

					<div class="standalone client">
						<fieldset>
							<legend>Authentication</legend>
							<div class="form-group">
								<label for="backup-auth.id" class="col-sm-3 control-label">
									User id
								</label>
								<div class="col-sm-9">
									<input type="text" id="backup-auth.id" class="form-control"
									       data-pointer="auth.id" value="${runTimeConfig.authId}"/>
								</div>
							</div>
							<div class="form-group">
								<label for="backup-auth.secret" class="col-sm-3 control-label">
									Secret
								</label>
								<div class="col-sm-9">
									<input type="text" id="backup-auth.secret" class="form-control"
									       data-pointer="auth.secret" value="${runTimeConfig.authSecret}"/>
								</div>
							</div>
						</fieldset>
					</div>

					<div class="standalone client">
						<fieldset>
							<legend>Load</legend>
							<div class="form-group">
								<label for="backup-load.connections" class="col-sm-3 control-label">
									Connection count
								</label>
								<div class="col-sm-9">
									<input type="text" id="backup-load.connections" data-pointer="load.connections" class="form-control"
									       value="${rt:getString(runTimeConfig, 'load.type.create.connections')}"/>
								</div>
							</div>

							<div id="objects" class="form-group">
								<label for="backup-load.limit.count" class="col-sm-3 control-label">
									Items count limit
								</label>
								<div class="col-sm-9">
									<input type="text" id="backup-load.limit.count" class="form-control"
									       data-pointer="load.limit.count"
									       value="${runTimeConfig.loadLimitCount}"/>
								</div>
							</div>

							<div id="time" class="form-group complex">
								<label for="backup-load.limit.time.value" class="col-sm-3 control-label">
									Time limit
								</label>
								<div class="col-sm-9">
									<input type="text" id="backup-load.limit.time.value"
									       class="form-control pre-select"
									       value="${rt:getTimeValue(runTimeConfig, 'load.limit.time')}"/>
									<select class="form-select" id="backup-load.limit.time.unit">
										<option value="${rt:getTimeUnit(runTimeConfig, 'load.limit.time')}">
											${rt:getTimeUnit(runTimeConfig, 'load.limit.time')}
										</option>
										<option value="days">days</option>
										<option value="hours">hours</option>
										<option value="minutes">minutes</option>
										<option value="seconds">seconds</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="backup-load.limit.rate" class="col-sm-3 control-label">
									Rate limit
								</label>
								<div class="col-sm-9">
									<input type="text" id="backup-load.limit.rate" class="form-control"
									       data-pointer="load.limit.rate"
									       value="${rt:getString(runTimeConfig, 'load.limit.rate')}"/>

								</div>
							</div>

							<div class="client">
								<div class="form-group">
									<label for="backup-load.servers" class="col-sm-3 control-label">
										Load servers
									</label>
									<div class="col-sm-9">
										<input type="text" id="backup-load.servers" class="form-control"
										       data-pointer="load.servers"
										       value="${rt:getString(runTimeConfig, 'load.servers')}"/>
									</div>
								</div>
							</div>
						</fieldset>

						<fieldset>
							<legend>Data</legend>
							<div class="form-group">
								<label for="backup-data.size" class="col-sm-3 control-label">
									Items size
								</label>
								<div class="col-sm-9">
									<input type="text" id="backup-data.size" data-pointer="data.size" class="form-control"
									       value="${rt:getString(runTimeConfig, 'data.size.min')}"/>
								</div>
							</div>

							<div class="form-group">
								<label for="backup-data.src.fpath" class="col-sm-3 control-label">
									Input items list file
								</label>
								<div class="col-sm-9">
									<input type="text" id="backup-data.src.fpath" class="form-control"
									       data-pointer="data.src.fpath"
									       value="${rt:getString(runTimeConfig, 'data.src.fpath')}"
									       placeholder="Enter path to the list of objects on remote host. Format: ${runTimeConfig.runName}-${runTimeConfig.runVersion}/log/<run.id>/<filename>"/>
								</div>
							</div>
						</fieldset>
					</div>

				</form>
			</div>
			<div id="extended">
				<form class="form-horizontal" id="main-form" role="form">
					<c:choose>
						<c:when test = "${runTimeConfig.runMode ne 'webui'}">
							<input type="hidden" name="run.mode" id="run.mode" value="${runTimeConfig.runMode}"/>
						</c:when>
						<c:otherwise>
							<input type="hidden" name="run.mode" id="run.mode" value="standalone"/>
						</c:otherwise>
					</c:choose>
					<input type="hidden" id="data.size" name="data.size" value="${rt:getString(runTimeConfig, 'data.size')}"/>
					<input type="hidden" id="load.connections" name="load.connections" value="${rt:getString(runTimeConfig, 'load.connections')}"/>

					<div id="configuration-content">

					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>-->